extends base

block content
  main.main
    .forgot-form
      h2.heading-secondary.ma-bt-lg Find Your Account
      form.form.form--forgot
        h3.forgot__passawrd Please enter your email address to search for your account
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green Search
        .form__group
          a.form__label(href='http://127.0.0.1:3000/login') Cancel