extends base

block content
  main.main
    .reset-form
      h2.heading-secondary.ma-bt-lg reset your passwrd
      form.form.form--reset
        h3.forgot__passawrd Create a new password that is at least 8 characters long.
        .form__group.ma-bt-md
          label.form__label(for='password') Password
            input#password.form__input(type='password' placeholder='••••••••' required='' minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Confirm password
            input#passwordConfirm.form__input(type='password' placeholder='••••••••' required='' minlength='8')
        .form__group
          button.btn.btn--green Reset
